
.list {
  font-weight: bold;
  font-size: 30px;
}

.focus {
 color: tomato;
 font-weight: bolder;
}

.dimmed {
  color: rgba(255, 255, 255, 0.4);
}

.function {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 200px;
  left: 50px;
}

.function_components {
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 150px;
  right: 75px;
}

.ali-berry-list {
  position: absolute;
  top: 150px;
  left: 50px;
}
.aliberry-image {
  position: absolute;
  bottom: 175px;
  right: 50px;
}